* {
    margin: 0;
    padding: 0;
}

header nav {
    margin: 25px;
}


header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    color: brown;
    font-weight: 700;
}


main .content{
    padding: 25px;
    color: white;
    background: url("./img/pexels-mikebirdy-120049.jpg") no-repeat;
    height: 250px;
}

main .content{
    display: flex;
    align-items: center;
}

main .content label {
    margin: 10px;
    font-size: 1.3rem;
}

main .content input {
    margin: 5px;
    font-size: 1.3rem;
}

main .content select {
    font-size: 1rem;
}

main .content #submit-hero {
    border-radius: 5px;
    padding: 5px 25px;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    border: 1px solid blue;
}


section .title {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}

section .description {
    font-size: 1.2rem;
    text-align: justify;
    padding: 10px;
}

.slider-vehicule {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.slider-vehicule article {
    border-radius: 10px;
    margin-left: 10px ;
    padding-top: 15px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 25px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)  ;
}

.slider-vehicule article:hover {
    background-color: wheat;
}

.slider-vehicule figure {
    border-radius: 10px;
    margin-top: 10px ;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 25px;
}

.contact form{
    width: 60%;
    margin: auto;
}

.row {
    display: block;
}

.row label {
    font-size: 1.2rem;
    font-weight: 700;
}

.row input {
    font-size: 1.3rem;
}

.row input{
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.row textarea{
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.contact form button {
    border-radius: 5px;
    padding: 5px 25px;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    border: 1px solid blue;
}

footer{
    margin-top: 10px;
    text-align: center;
    background-color: brown;
    color: white;
    height: 30px;
    padding: 15px;
}

footer p {
    font-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}

.contenedor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

 .cartas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: white;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

 .cartas:hover {
    height: 400px;
}

 .cartas .caja-img {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #000000;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.cartas:hover .caja-img {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

 .cartas .caja-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .cartas .contenido {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

 .cartas:hover .contenido {
    top: 130px;
    height: 250px;
}

 .cartas .contenido h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr);
}

.cartas .contenido p {
    color: #333;
}

.cartas .contenido a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--clr);
    color: white;
    font-weight: 500;
    border-radius: 6px;
}

 .cartas .contenido a:hover {
    opacity: 0.8;
    background-color: #000000;
    color: aqua;
}

@media (max-width: 480px) {
    .contenedor .cartas {
        width: 185;
        border-radius: 10px;
    }

    .contenedor .cartas .caja-img {
        width: 185;
        border-radius: 10px;
    }

    .contenedor .cartas .contenido p {
        font-size: 0.8rem;
    }

    .contenedor .cartas .contenido a {
        font-size: 0.9rem;
    }
    
}
